* {
  margin: 10px;
  padding: 5px;
}

h1:nth-child(1) {
  color: red;
  font-size: 20px;
}

p {
  color: blue;
  background-color: yellow;
  border: 3px solid red;
}

.second {
  background-color: yellowgreen;
}

#second {
  color: blueviolet;
}
