ul,
li {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#container {
  width: 1200px;
  height: 800px;
  margin: 20px auto;
}

#header {
  width: auto;
  height: 80px;
}

.nav {
  float: left;
  margin: 20px auto;
  list-style: none;
  width: 1150px;
  height: 75px;
}

.nav .navbar {
  float: left;
  border-bottom: 1px solid #929292;
  padding: 0;
  margin: 10px auto;
}

.nav .navbar a:link {
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 120px;
  height: 35px;
  line-height: 35px;
}

.nav .navbar:last-child {
  border-right: none;
}

.nav .navbar:not(:last-child) a:hover {
  font-weight: bold;
  color: rgb(166, 218, 89);
  border-bottom: 2px solid rgb(166, 218, 89);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

#header2 {
  margin-right: 18px;
}

.img {
  float: right;
  width: 15px;
  height: 15px;
  padding: 5px;
}

.headspan {
  float: right;
}
.headspan:nth-of-type(1) {
  color: aqua;
}

#nav {
  float: left;

  width: 250px;
  height: 660px;
  margin-left: 40px;
}

#nav .nav2 {
  padding: 0;
  list-style-type: none;
}

#nav .navbar2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.193);
  padding: 10px;
  text-align: left;
}

#nav .navbar2 a:link {
  text-decoration: none;
  line-height: 30px;
  color: black;
}

a:visited,
a:link {
  color: black;
  text-decoration: none;
}

#nav .arrow {
  float: right;
  width: 10px;
  height: 10px;
}

#nav .navbar2:hover {
  background-color: aquamarine;
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

#main {
  float: right;
  margin-right: 80px;
  width: 820px;
  height: 660px;
}

#main .mainpic {
  padding-right: 15px;
  margin-right: 10px;
  float: right;
  width: 25px;
  height: 25px;
}

#top {
  width: 900px;
  height: 70px;
  float: left;
}

#search {
  height: 25px;
}

#search span {
  float: left;
  font-size: 0.8em;
}

#search span:nth-child(2) {
  font-size: 1em;
  color: red;
}

#search select {
  float: right;
  height: 20px;
}

#search input {
  float: right;
  height: 15px;
}

#search img {
  float: right;
  width: 20px;
  height: 20px;
}

#content {
  text-align: center;
  font-size: 14pt;
  height: 40px;
  vertical-align: middle;
  line-height: 30px;
}

#contentul {
  margin-top: 10px;
}

#contentul > li:first-child > ul > li {
  font-weight: bold;
  text-align: center;
}

#contentul > li > ul {
  clear: both;
  padding: 0px auto;
  position: relative;
  min-width: 40px;
}
#contentul > li > ul > li {
  float: left;
  font-size: 10pt;
  border-bottom: 1px solid silver;
  vertical-align: baseline;
}

#contentul > li > ul > li:first-child {
  width: 10%;
}
#contentul > li > ul > li:first-child + li {
  width: 45%;
}
#contentul > li > ul > li:first-child + li + li {
  width: 20%;
}
#contentul > li > ul > li:first-child + li + li + li {
  width: 15%;
}
#contentul > li > ul > li:first-child + li + li + li + li {
  width: 10%;
}

#contentul .left {
  text-align: left;
}

#divPaging {
  clear: both;
  margin: 0 auto;
  width: 420px;
  height: 50px;
}

#divPaging > div {
  float: left;
  width: 30px;
  margin: 0 auto;
  text-align: center;
}
